

<div class="container-padding">
    <div class="glass profile-container">
        <h5>Profile</h5>

        <div class="profile-content">
            <p>
                <span><b>First Name : </b></span>
                <span> {{userDetails.firstName}} </span>
            </p>
            <p>
                <span><b>Last Name : </b></span>
                <span> {{userDetails.lastName}} </span>
            </p>
            <p>
                <span><b>Email : </b></span>
                <span> {{userDetails.email}} </span>
            </p>
        </div>

    </div>
</div>
