<div class="glass users-container">

    <div>
        <div class="d-flex justify-content-between mt-3 mb-2">
            <h5>Faculty</h5>

            <button class="btn btn-outline-primary btn-sm margin-side" type="button" (click)="openpopup()">Add New Faculty</button>

          </div>

          <div>
            <table class="table mt-5">
                <thead>
                    <tr>
                      <th>Email</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr class="align-items-center" *ngFor="let user of users">
                        <td>
                            {{user.email}}
                        </td>
                        <td>
                            {{user.firstName}}
                        </td>
                        <td>
                            {{user.lastName}}
                        </td>

                        <td class="text-align-center">
                            <span class="remove-icon" >
                              <mat-icon (click)="removeUser(user)">cancel</mat-icon>
                            </span>
                          </td>
                    </tr>
                  </tbody>
            </table>
        </div>
       
    </div>
</div>

<ng-template #addUserPopup let-modal>

        <div class="add-user-form-container">

            <div>

                <h3 class="login-text col-md-12 mb-4">Add New Faculty</h3>


                <form *ngIf="userForm" name="form" [formGroup]="userForm">


                    <mat-form-field class="col-md-12">
                        <input matInput type="text" formControlName="firstName" placeholder="First Name" required />

                    
                    </mat-form-field>

                    <mat-form-field class="col-md-12">
                        <input matInput type="text" formControlName="lastName" placeholder="Last Name" required />

              
                    </mat-form-field>

                    <mat-form-field class="col-md-12">
                        <input matInput type="email" formControlName="email" placeholder="Email"
                         required />

                
                    </mat-form-field>




                    <mat-form-field class="col-md-12">
                        <input matInput type="password" autocomplete="new-password" formControlName="password"
                            placeholder="Password" />

                  

                    </mat-form-field>

                    <mat-form-field class="col-md-12">
                        <input matInput type="password" autocomplete="off" formControlName="confirmPassword"
                            placeholder="Confirm Password" />


                    </mat-form-field>

                    <div class="password-error-container"
                        *ngIf="userForm.value.confirmPassword != '' && userForm.value.password != userForm.value.confirmPassword">
                        <span class="text-danger margin-bottom">paswords not matching</span>
                    </div>


                    <div  class="btn-container">
                        <button type="button" class="btn btn-md btn-primary" [disabled]="!userForm.valid"
                            (click)="addNewUser()">

                            <span>
                                Add New Faculty
                            </span>

                        </button>

                    </div>


        

                </form>

         

            </div>



        </div>

   
  </ng-template>
