.review-application-container{

    .table{
        td, th{
            text-align: center;
        }
        th{
            font-weight: 500;
     
         
        }

    }

    .btn-container{
        .doc-btn{
            margin-bottom: 15px;
        }
    }
}