
<div class="container-padding">
    <div class="glass programs-container">
        <h5>Applications</h5>

        <div class="review-application-container">
            <table class="table mt-5">
                <thead>
                    <tr>
                      <th>Program Code</th>
                      <th>Program Name</th>
                      <th>Duration (In Months)</th>
                      <th> Name</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr class="align-items-center" *ngFor="let application of applications">
                        <td>
                            {{application.programId}}
                        </td>
                        <td>
                            {{application.programName}}
                        </td>
                        <td>
                            {{application.programDuration}}
                        </td>

                        <td class="text-align-center">
                            <!-- <span class="remove-icon" >
                              <mat-icon (click)="removeUser(user)">cancel</mat-icon>
                            </span> -->
                          </td>
                    </tr>
                  </tbody>
            </table>
    
        </div>
    </div>


    
</div>
