

  <div class="login-container">
      <div>
          <h2 class="text-center mt-3 login-text">University Admission Management </h2>
      </div>
    <div class="login-card shadow-glass">
  
        <div class="login-form-container">
          <form class="login-form" name="form" [formGroup]="loginForm" (ngSubmit)="login()">
            <h3 class="login-text mb-4">Sign in</h3>
    
            <div *ngIf="loginMessage.length>0" class="login-error">{{loginMessage}}</div>
    
            <mat-form-field class="col-md-12">
              <input matInput type="email" formControlName="email" placeholder="Email" />
              <mat-error *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                Email is invalid
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-12">
              <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'" />
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                Password is invalid
              </mat-error>
            </mat-form-field>
            <div class="btn-container">
              <button type="submit" class="btn btn-md btn-primary" [disabled]="!loginForm.valid">
    
                <span *ngIf="!loading">
                  Submit
                </span>
                <img *ngIf="loading"
                  src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </button>
    
              <p class="navigate-link mt-4"> Don't have an account? <a routerLink="/register">Sign
                  Up</a>
              </p>
    <!--   
              <p *ngIf="showRegister" class="navigate-link"> <a routerLink="/forgot-password">Forgot Password?</a> </p> -->
    
            </div>
    
    
          </form>
        </div>
    
      </div>
  </div>

