<div class="text-danger" *ngIf="control && control.errors && (control.dirty || control.touched)">
    {{control.errors.email}}
    <div *ngIf="control.errors.required"><small>This field is required</small></div>
    <div *ngIf="control.errors.unique"><small>{{control.errors.unique}}</small></div>
    <div *ngIf="control.errors.lessThen"><small>{{control.errors.lessThen}}</small></div>
    <div *ngIf="control.errors.greaterThan"><small>{{control.errors.greaterThan}}</small></div>
    <div *ngIf="control.errors.email"><small>Please check the email</small></div>
    <div *ngIf="control.errors.mobile"><small>{{control.errors.mobile}}</small></div>
    <div *ngIf="control.errors.confirmPassword"><small>{{control.errors.confirmPassword}}</small></div>
    <div *ngIf="control.errors.invalidMsg"><small>{{control.errors.invalidMsg}}</small></div>
    <div *ngIf="control.errors.minLength"><small>Must be at least {{control.errors.minLength.requiredLength}} characters
            long</small></div>
</div>
